<h1>Join Us</h1>
<link rel="stylesheet" href="/app.css">
<p>Enter your email to join <strong><%=data%></strong> others on our waitlist. We are 100% not a cult</p>

<form method="POST" action="/register">
    <input type="text" name="email" class="form" placeholder="Enter your Email">
    <button>Join Now</button>
</form>